<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://blog.rohanpandula.com/css/bootstrap.min.css" rel="stylesheet"><br><br><br>
   <center><title>League of sports stuff.</title>
  </head>
  <body>
    <h1>Professional Sportsmen</h1><br><br>
<a href="/leaderboard" class="btn btn-default btn-success btn-lg">How many homeruns does the NFL team have?</a>
</center>
  </body>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>